.indusbg1 {
    background: url(/assets/img/automobile.jpg) !important;
  }

  .homeslbgsl {
    background: url(/assets/img/home-byld-banner.jpg) !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    background-size: contain !important;
  }

  .countersetion {
    background: url(/assets/img/teams.jpg) !important;
    /* background-position: center center !important; */
    background-repeat: no-repeat !important;
    background-size: cover !important;
    /* background-attachment: fixed !important; */
  }